.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.actions {
  width: 100%;
  height: 60vh;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background-color: var(--primary);
}

:root {
  --primary: hsla(var(--primary-hue), 
                  var(--primary-saturation), 
                  var(--primary-lightness), 
                  var(--primary-alpha));
  --primary-hue: 0;
  --primary-saturation: 0%;
  --primary-lightness: 50%;
  --primary-alpha: 1;
}

.brightness {
  background-color: var(--primary);
  width: 100%;
  height: 10vh;
  display: flex;
  border-bottom: 1px solid black;
  /* border-right: 1px solid black; */
  /* border-left: 1px solid black; */
  /* align-items: center; */
  justify-content: center;
  vertical-align: middle;
}

.soliloquy {
  background-color: var(--primary);
  width: 100%;
  height: 35vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  vertical-align: middle;
}

button {
  /* box-shadow:inset 0px 1px 0px 0px #ddccdd; */
  /* width: 100%; */
  height: 30px;
  background: transparent;
	/* background-color:#dcdcdc; */
	border-radius:6px;
	/* border:1px solid #666666; */
	/* display:inline-block; */
	cursor:pointer;
	/* color:#666666; */
	/* font-family:Arial; */
	/* font-size:10px; */
	/* font-weight:bold; */
	padding:1px 10px;
}
button:hover {
	background-color:#f6f6f6;
}
button:active {
	position:relative;
	top:1px;
}